a{
  text-decoration: none;
}

.left-content{
  width: 300px;
  float: left;
  .user{
    &__name{
      font-weight: bold;
      font-size: 16px;
      color: $white;
      background-color: #253141;
      padding: 35px 20px 15px;
      height: 100px;
      box-sizing: border-box;
    }
    &__setting{
      @include icons
    }
    &__newgroup{
      @include icons
    }
  }
  .group{
    background-color: #2f3e51;
    padding: 20px;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    overflow: scroll;
    &__name{
      padding-top: 20px;
      font-size: 15px;
      color: $white;
    }

    &__status{
      padding-top: 5px;
      font-size: 11px;
      color: $white;
    }
  }
}

.right-content{
  float: right;
  width: calc(100vw - 300px);
  .header{
    padding: 0px 40px;
    height: 100px;
    box-sizing: border-box;
    &__title{
      padding: 35px 0px 15px;
      font-size: 20px;
      color: #333333;
    }
    &__members{
      font-size: 12px;
      color: #999999;
    }
    .button{
      border: solid 1px $light_blue;
      height: 40px;
      margin-top: 28px;
      padding: 10px 20px;
      float: right;
      font-size: 15px;
      color: $light_blue;
      box-sizing: border-box;
    }
  }
  .messages{
    border-top: solid 1px #eeeeee;
    padding: 26px 40px 0px;
    height: calc(100vh - 190px);
    box-sizing: border-box;
    overflow: scroll;
    &__box{
      padding: 20px 0px
    }
    &__name{
      float:left;
      margin-right: 10px;
      font-weight: bold;
      font-size: 16px;
      color: $black;
    }
    &__time{
      font-size: 12px;
      color: #999999;
      @include clearfix();
    }
    &__text{
      font-size: 14px;
      color: $black;
    }
  }
  .input{
    padding: 20px 40px;
    background-color: #AAAAAA;
    height: 90px;
    box-sizing: border-box;
    .text-field{
      padding: 0px 15px;
      width: calc(100% - 195px);
      height: 50px;
      background-color: $white;
      float: left;
      border: none;
      &__picture{
        width: 50px;
        margin-right: 15px;
        height: 50px;
        background-color: $white;
        float: left;
        border: none;
      }
    }
    .upload-file{
      display: none;
      padding: 15px;
      border: none;
    }
    .button{
      padding: 10px 0px;
      height: 50px;
      width: 100px;
      background-color: $light_blue;
      color: $white;
      text-align: center;
      float: left;
      border: none;
    }
  }
}
